<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>Öğrenci Seç</span>
</mat-toolbar>
<div class="container">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="Filterele($event)">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="ogrNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci No
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrNo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogrAdsoyad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Adı Soyadı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrAdsoyad}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogrDogTarih">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Doğum Tarihi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrDogTarih}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogrOdevSayisi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ödev Sayısı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrOdevSayisi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button mat-icon-button color="primary" matTooltip="Öğrenci Ekle" (click)="Ekle(kayit)">
          <mat-icon aria-label="label">person_add</mat-icon> Ekle
        </button>


      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[ 10, 25, 100,500]">
  </mat-paginator>
</div>
