<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>

<div class="container">
  <form [formGroup]="frm">

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Ders Adı</mat-label>
      <mat-select placeholder="Ders Seçiniz" (selectionChange)="DersSec($event.value)" formControlName="odevDersId">
        <mat-option [value]="ders.dersId" *ngFor="let ders of dersler">{{ders.dersAdi}}</mat-option>
      </mat-select>
      <mat-icon matSuffix>library_books</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Ödev Adı</mat-label>
      <input matInput formControlName="odevAdi" placeholder="Ödev Adi" name="odevAdi" required type="text">
      <mat-icon matSuffix>book</mat-icon>
    </mat-form-field>

  </form>

  <div>
    <button mat-raised-button class="btn" (click)="dialogRef.close(frm.value)"
      [disabled]="frm.invalid">Kaydet</button>&nbsp;
    <button mat-raised-button color="warn" (click)="dialogRef.close()">Kapat</button>
  </div>

</div>