.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

mat-card {
    width: 30%;
    margin: 10% auto;
    border-radius: 8px;
}

mat-form-field,
mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
}

mat-card-content {
    margin-top: 20px;
}

.login-button {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
}